		h1 {
			font-size: 30px;
			color: #496279;
			font-family: 'Cormorant Garamond', serif;
			line-height:1.5;
		}

		h2 {
			font-size: 40px;
			color: #496279;
			font-family: 'Cormorant Garamond', serif;
		}

		h3 {
			font-size: 25px;
			color: #677d92;
			font-family: 'Cormorant Garamond', serif;
			line-height:.5;
		}

		.nav a {
  			color: #b3c1cf;
  			text-align: center;
  			padding: 20px 16px;
  			text-decoration: none;
  			font-size: 20px;
  			font-family: 'Cormorant Garamond', serif;
  			float: right;
		}

		.nav a:hover {
 			background-color: white;
  			color: #496279;
  			transition: .5s ease;
		}

		.nav a.active {
 			background-color: white;
  			color: #496279;
		}

		.title {
			float: left;
			color: #496279;
			padding: 20px 16px;
			font-family: 'Cormorant Garamond', serif;
			font-size: 30px;
		}

		#container {
			background-color: white;
			font-family:crimson text;
			font-size:15px;
			text-align: center;
			line-height:1;
			width:100px;
			height:100px;
			margin: 0 auto;
		}

		.clearfloat {
			clear:both;
		}

		#footer {
			background-color: white;
			color:gray;
			text-align:center;
			font-size:15px;
			height:30px;
			padding-top:10px;
			padding-bottom:10px;
		}
























